/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
*{border: 1px solid red;}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    display: flex;
    height: 400px;
    background-color: rgb(125, 149, 172);
    justify-content: space-between;
}

.content {
max-width: 1180px;
}

.hi {
    display: flex;
    margin: 50px 0;
    margin: 0px auto;
    flex: 1 1 auto;
    
}
.hi__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.hi__title {
        font-size: 50px;
        font-family: "Arial";
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: left;
        margin-bottom: 40px;
}
.hi__list {
        font-size: 20px;
        font-family: "Arial";
        color: rgb(255, 255, 255);
        line-height: 1.8;
        text-align: left;
}

.hi__list li {
    background: url(./icons/check\ icon.png);
    background-repeat: no-repeat;
    background-size: 40px;
    padding-left: 40px;
}

.hi__image {
    display: flex;
    justify-content: end;
}



.what {
    display: flex;
    padding: 50px 0;
}
.what__row {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.what__image {
}
.what__body {
    max-width: 650px;
}
.what__title {
        font-size: 30px;
        font-family: "Arial";
        color: rgb(68, 81, 97);
        line-height: 1.2;
}
.what__text {
        font-size: 16px;
        font-family: "Arial";
        color: rgb(51, 51, 51);
        line-height: 1.5;
}

.footer {
}
.footer__row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    background-color: rgb(125, 149, 172);
}
.footer__text {
        font-size: 12px;
        font-family: "Arial";
        color: rgb(68, 81, 98);
        line-height: 2;
        text-align: center;
}