@font-face {
    font-family: "Gilroy-Bold";
    /* // адрес шрифта и тип  */
    src: url("./fonts/Gilroy-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Gilroy-Medium";
    /* // адрес шрифта и тип  */
    src: url("./fonts/Gilroy-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.header {
    display: flex;
    justify-content: center;
}

.container {
    /* display: flex; */
    max-width: 944px;
    margin: 0 auto;
    /* justify-content: center; */
}

.header__menu {
    width: 100%;
}

.header__menu-links {
    margin: 30px 0;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.header__menu-link {
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #070707;
}

.header__menu-underline {
    width: 100%;
    border: 1px solid black;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    max-width: 120px;
    margin-top: 40px;
    font-family: 'Gilroy-Bold';
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
}

.header__text {
    max-width: 160px;
    margin-top: 95px;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

.header__lang-switch {
    display: flex;
    /* position:absolute; */
    /* align-self: flex-start; */
    height: fit-content;
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    line-height: 20px;
    margin-right: -25px;
}

.header__lang-switch p {
    transform: rotate(-90deg);
}

.header__image {
    margin: 50px 0 100px 0;
    background: url(./image/header_img.png);
    background-repeat: no-repeat;
    height: 387px;
    width: 944px;
}

.about {
    display: flex;
    background-color: #F6F6F6;
    justify-content: center;
    padding: 120px 0;
}

.about__container {
    max-width: 944px;
}

.about__title {
    text-align: center;
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
}

.about__text {
    max-width: 485px;
    text-align: center;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px
}

.about__paragraph {
    margin-top: 30px;
}

.skills__body {
    padding: 90px 0 110px 0;
}

.skills__title {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 70px;
}

.skills__subtitle {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 70px;
}

.skills__cards {
    display: flex;
    justify-content: space-between;
}

.skills__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.skills__card-icon {
    justify-self: auto;
    width: 90px;
    height: 90px;
    margin-bottom: 25px;
}

.skills__card-icon_icon_ps {
    background: url(./icons/ps.png), url(./icons/bg.png);
}

.skills__card-icon_icon_ai {
    background: url(./icons/ai.png), url(./icons/bg.png);
}

.skills__card-icon_icon_ae {
    background: url(./icons/ae.png), url(./icons/bg.png);
}

.skills__card-icon_icon_figma {
    background: url(./icons/figma.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.skills__card-title {
    max-width: 70px;
    margin-bottom: 40px;
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.skills__card-stars {
    font-size: 35px;
}

.skills__card-stars span {
    color: rgb(206, 206, 206);
}

.portfolio {
    padding: 100px 0;
    background: #F6F6F6;
}

.portfolio__title {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 47px;
}

.portfolio__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio__site-image {
    margin-bottom: 40px;
}

.portfolio__site-link {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    margin-bottom: 96px;
}

.footer {
    padding: 110px 0;
}

.footer__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__title {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 20px;
}

.footer__subtitle {
    text-align: center;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
}

.footer__button {
    text-align: center;
    width: 180px;
    height: 42px;
    border-radius: 20px;
    background-color: #070707;
    color: #F6F6F6;
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 90px;
}

.footer__social-links {
    display: flex;
    width: 33%;
    justify-content: space-between;
    margin-bottom: 45px;
}

.footer__links-subtitle {
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}